{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load markdownify %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<style>
    /* Apply the provided theme */
    body {
        background-color: #0c1117;
        color: rgb(213, 211, 211);
        font-family: Arial, sans-serif;
    }
    h1 {
        color: white;
    }
    .input-group {
        margin-bottom: 1em;
    }
    label {
        color: rgb(213, 211, 211);
        display: block;
        margin-bottom: 0.5em;
    }
    input,
    select,
    textarea {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 5px;
        border: 1px solid #a19f9f;
        background-color: #1b1f26;
        color: white;
    }
    button {
        border: 1px solid #a19f9f;
        border-radius: 5px;
        color: white;
        background-color: #0c1117;
        padding: 0.5em 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #299afd;
    }
    .table td,
    .table th{
        background-color: grey !important;
    }
</style>
<link rel="stylesheet" href="{% static 'assets/css/forms/create_form.css' %}">
{% endblock stylesheet %}
{% block pages %}

<section class="section_profile">
    <div class="row" style="padding: 1rem;padding-top: 0;">
        <h1>Create a New Form</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Form</button>
        </form>
    </div>
</section>

{% endblock pages %}
