nav {
  height: 10vh;
}

.navbar {
  background-color: #000;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b82f8d;
}

.navbar-brand:hover {
  color: #299afd;
}

.navbar-nav .nav-link {
  color: #299afd;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  color: #5f46ee;
  border-bottom: 2px solid #b82f8d;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #b82f8d;
  border-bottom: 2px solid #b82f8d;
}

.navbar-toggler {
  border: none;
  background-color: #5f46ee;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255,255,255,0.7)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.landing_login_btn {
  background-color: #b82f8d;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.landing_login_btn:hover {
  background-color: #b82f8d;
  color: #fff;
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    padding: 0.5rem 0;
  }
}