{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load markdownify %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/club/club_detail.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
{% endblock stylesheet %}
{% block pages %}

<div class="col-md-12 club_detail">
    <div class="club_detail_space">
        <div class="club_detail_header">
            <div class="profile_image">
                <img class="profile_background_image" src="{{ club_details.background_image.url }}"
                    alt="background_image">
                <img class="profile_image_pic" src="{{ club_details.logo_image.url }}" alt="">
            </div>
            <p>
                <span style="display: flex;justify-content: space-between;">
                    <span><b style="font-size: x-large;">{{ club_details.club_name }}</b><br>
                        {{ club_details.club_subtext }} <br>
                    </span>
                    <span>
                        {% if user_value != edit_club_access %}
                        {% if edit_club_access != 1 %}
                        <button class="btn btn-outline-info btn-sm" id="join-club-btn">Join Club</button>
                        {% endif %}
                        {% endif %}
                    </span>

                </span>
                <span>{{ club_details.club_description }}</span>
            </p>
            <div class="member_space">
                <div class="table-responsive">
                    <table id="invoiceTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Power</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club_member_info in club_members_details %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ club_member_info.user.username }}</td>
                                <td class="text-center">{{ club_member_info.role }}</td>
                                <td class="text-center">{{ club_member_info.power }}</td>
                                <td class="text-center">
                                    {% if edit_club_access %}
                                    <a href="#" class="btn btn-info btn-sm" id="sendBtn" data-bs-toggle="modal" data-bs-target="#sendModal" data-receiver-id="{{ club_member_info.user.id }}">
                                        <i>Send</i>
                                    </a>     
                                    {% else %}
                                    <a href="#" class="btn btn-info btn-sm" style="opacity: .6;pointer-events: none;" id="" data-bs-toggle="modal" data-bs-target="" data-receiver-id="">
                                        <i>Send</i>
                                    </a>  
                                    {% endif %}
                                    {% if club_member_info.user == request.user %}
                                    <a href="{% url 'tracking:tracking' %}" class="btn btn-success btn-sm view_btn_file">
                                        <i>View</i>
                                        {% if club_member_info.user == request.user %}
                                        <span class="badge bg-warning text-dark" id="fileTransferCount">
                                            {{ club_member_info.user.received_files.count }}
                                        </span>
                                        {% endif %}
                                    </a>
                                    {% else %}
                                    <a href=""  style="opacity: .6;pointer-events: none;" class="btn btn-success btn-sm view_btn_file">
                                        <i>View</i>
                                        {% if club_member_info.user == request.user %}
                                        <span class="badge bg-warning text-dark" id="fileTransferCount">
                                            {{ club_member_info.user.received_files.count }}
                                        </span>
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                </td>                                                           
                            </tr>
                            {% endfor %}
                        </tbody>
                        <script>
                            $(document).on('click', '#sendBtn', function (e) {
                                e.preventDefault();
                                var receiverId = $(this).data('receiver-id');
                                console.log(receiverId); // This will log the receiverId of the clicked button
                                $('#receiverInput').val(receiverId); // Assuming you have an input with id="receiverInput"
                            });
                        </script>
                    </table>
                </div>
                <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sendModalLabel">Send Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="uploadForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12" style="display: flex; flex-direction: column; justify-content: center;">
                                            <div class="mb-3">
                                                <label for="file-input" class="form-label drop-container">
                                                    <span class="drop-title">Drop files here or click to upload</span>
                                                    <input type="file" name="file" accept="image/*,application/pdf" required id="file-input"
                                                        class="form-control">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="display: flex; flex-direction: column; justify-content: center;">
                                            <div class="mb-3">
                                                <input type="text" name="short_note" class="form-control" placeholder="Add a short note (optional)">
                                            </div>
                                            <div class="mb-3">
                                                <select name="department" class="form-select" required>
                                                    <option value="" selected>Select Department</option>
                                                    <option value="Department">Department</option>
                                                    <option value="Academics">Academics</option>
                                                    <option value="User">User</option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="receiver" id="receiverInput" value="" >
                                            <button type="button" id="uploadButton" class="btn btn-primary w-100">Upload File</button>
                                        </div>
                                    </div>
                                </form>

                                <script>
                                    
                                    $('#uploadButton').click(function (e) {
                                        e.preventDefault();
                                        let formData = new FormData($('#uploadForm')[0]);

                                        $.ajax({
                                            url: "{% url 'tracking:tracking' %}",
                                            type: 'POST',
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            headers: {
                                                'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                                            },
                                            success: function (response) {
                                                if (response.message) {
                                                    alert(response.message);
                                                } else {
                                                    alert('Upload successful, but no message returned from server.');
                                                }
                                                $('#uploadForm')[0].reset();
                                                fetchTrackingDetails();
                                                $('#sendModal').modal('hide'); 
                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Error uploading file:', error);
                                                alert('Error uploading file. Please try again.');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
               
                
                {% if user_value == edit_club_access %}
                <div class="member_request_space">
                    <hr>
                    <h3 class="pt-3">Join Requests ({{pending_count}})</h3>
                    <table id="join-requests-table" class="table table-striped ">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Requested At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in join_request %}
                            {% if request.status == "Pending" %}
                            <tr id="request-{{ request.id }}">
                                <td><strong>{{ request.user.username }}</strong></td>
                                <td><strong>{% if request.user.email %}{{ request.user.email }}{% else %}{{ request.user.username }}@gmail.com{% endif %}</strong></td>
                                <td>{{ request.request_date }}</td>
                                <td>
                                    <button data-request-id="{{ request.id }}" data-action="approve"
                                        class="btn btn-success handle-request">Approve</button>
                                    <button data-request-id="{{ request.id }}" data-action="reject"
                                        class="btn btn-danger handle-request">Reject</button>
                                </td>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td colspan="3">No pending join requests.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function() {
                            $('#join-requests-table').DataTable({
                                "paging": true,  // Enable pagination
                                "searching": true,  // Enable searching/filtering
                                "ordering": true,  // Enable sorting
                                "info": true,  // Show information about the data
                                "lengthMenu": [10, 25, 50, 75, 100],
                            });
                        });
                    </script>
                </div>
                {% endif %}

                <script>
                    $(document).ready(function () {
                        $('.handle-request').on('click', function () {
                            const requestId = $(this).data('request-id');
                            const action = $(this).data('action');
                            const $requestItem = $(`#request-${requestId}`);

                            $.ajax({
                                type: 'POST',
                                url: '{% url "club:handle_join_request" %}',
                                data: {
                                    'request_id': requestId,
                                    'action': action,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function (response) {
                                    alert(response.message);
                                    if (response.status) {
                                        $requestItem.find('.status-label').text(response.status);
                                        $requestItem.fadeOut(500, function () {
                                            $(this).remove();
                                        });
                                    }
                                },
                                error: function (xhr) {
                                    alert('An error occurred: ' + xhr.responseJSON.error);
                                }
                            });
                        });
                    });
                    
                </script>
<script>
    $(document).ready(function () {
        $('#invoiceTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>


            </div>
        </div>
    </div>

    <script>
        document.getElementById('join-club-btn').addEventListener('click', function () {
            const csrftoken = '{{ csrf_token }}';
            const clubId = '{{ club_data.pk }}';
            const branchPk = '{{ pk_branch }}';

            fetch(`{% url 'club:join_club_request' %}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    club_id: clubId,
                    branch_pk: branchPk
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Join request sent successfully!");
                    } else {
                        alert("You have already requested to join this club.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred. Please try again later.");
                });
        });
    </script>
    {% endblock pages %}