{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load markdownify %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/club/club_detail.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
{% endblock stylesheet %}
{% block pages %}

<div class="col-md-12 club_detail">
    <div class="club_detail_space">
        <div class="club_detail_header">
            <div class="profile_image">
                <img class="profile_background_image" src="{{ club_details.background_image.url }}"
                    alt="background_image">
                <img class="profile_image_pic" src="{{ club_details.logo_image.url }}" alt="">
            </div>
            <p>
                <span style="display: flex;justify-content: space-between;">
                    <span><b style="font-size: x-large;">{{ club_details.club_name }}</b><br>
                        {{ club_details.club_subtext }} <br>
                    </span>
                    {% if check_requested_join or check_member_requested_join %}
                    <span>
                        <button class="btn btn-outline-info btn-sm" >Requested</button>
                    </span>
                    {% else %}
                    <span>
                        {% if club_owner_pk == login_user_pk %}
                        <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#addMemberModal">Add Members</button>

                        <!-- Add Members Modal -->
                        <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" style="background-color: #0c1117">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addMemberModalLabel">Add Members</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Searchable List -->
                                        <div class="mb-4">
                                            <h6>Select from List</h6>
                                            <table id="userTable" class="display">

                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for list_of_user in owner_organization_users_list %}
                                                    <tr>
                                                        <td>{{ list_of_user.username }}</td>
                                                        <td>{{ list_of_user.email }}</td>
                                                        <td class="d-flex justify-content-center">
                                                            {% if list_of_user.email in club_member_list_email %}
                                                            <button 
                                                                class="btn btn-success btn-sm" style="opacity: .5;pointer-events: none;">Added</button>
                                                            {% else %}
                                                                {% if list_of_user.email in added_join_request_by_admin_list %}
                                                                <button 
                                                                    class="btn btn-info btn-sm" style="opacity: .5;pointer-events: none;">Requested</button>
                                                                {% else %}
                                                                <button 
                                                                    class="btn btn-success btn-sm add-user-btn" 
                                                                    data-email="{{ list_of_user.email }}" 
                                                                    data-club-id="{{ club.id }}" 
                                                                    data-branch-pk="{{ branch.pk }}">
                                                                    Add
                                                                </button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>    
                                            </table>
                                            
                                            <script>
                                                document.addEventListener('DOMContentLoaded', () => {
                                                    document.querySelectorAll('.add-user-btn').forEach(button => {
                                                        button.addEventListener('click', function () {
                                                            const email = this.getAttribute('data-email');
                                                            const clubId = '{{ club_data.pk }}';
                                                            const branchPk = '{{ pk_branch }}';
                                                            const csrfToken = '{{ csrf_token }}';
                                                            console.log({ email, club_id: clubId, branch_pk: branchPk });

                                                            fetch("{% url 'club:add_join_request' %}", {
                                                                method: "POST",
                                                                headers: {
                                                                    "Content-Type": "application/json",
                                                                    "X-CSRFToken": csrfToken
                                                                },
                                                                body: JSON.stringify({ email, club_id: clubId, branch_pk: branchPk })
                                                            })
                                                                .then(response => {
                                                                    if (!response.ok) {
                                                                        throw new Error(`HTTP status ${response.status}`);
                                                                    }
                                                                    return response.json();
                                                                })
                                                                .then(data => {
                                                                    if (data.success) {
                                                                        alert("Join request successfully sent!");
                                                                    } else {
                                                                        alert(`Error: ${data.error}`);
                                                                    }
                                                                })
                                                                .catch(error => console.error("Error:", error));
                                                        });
                                                    });
                                                });

                                            </script>                                            
                                        </div>
                                        <!-- Add by Email -->
                                        <div>
                                            <h6>Add by Email</h6>
                                            <form id="addByEmailForm">
                                                <div class="mb-3">
                                                    <input type="hidden" name="club_id" value="{{ club_data.pk }}">
                                                    <input type="hidden" name="branch_pk" value="{{ pk_branch }}">
                                            
                                                    <label for="emailInput" class="form-label">Enter Email</label>
                                                    <input type="email" class="form-control add_manually_data" id="emailInput" name="email"
                                                        placeholder="Enter Email" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </form>
                                            <script>
                                                document.getElementById('addByEmailForm').addEventListener('submit', function (event) {
                                                    event.preventDefault(); // Prevent the default form submission

                                                    // Collect form data
                                                    const email = document.getElementById('emailInput').value;
                                                    const club_id = document.querySelector('input[name="club_id"]').value;
                                                    const branch_pk = document.querySelector('input[name="branch_pk"]').value;
                                                    const csrfToken = '{{ csrf_token }}';

                                                    // Create the AJAX request
                                                    fetch("{% url 'club:add_join_request_by_email' %}", {
                                                        method: 'POST',
                                                        headers: {
                                                            'Content-Type': 'application/json',
                                                            "X-CSRFToken": csrfToken
                                                        },
                                                        body: JSON.stringify({
                                                            email: email,
                                                            club_id: club_id,
                                                            branch_pk: branch_pk
                                                        })
                                                    })
                                                        .then(response => response.json())
                                                        .then(data => {
                                                            if (data.success) {
                                                                alert(data.message); // Success message
                                                            } else {
                                                                alert(`Error: ${data.error}`); // Error message
                                                            }
                                                        })
                                                        .catch(error => {
                                                            console.error('Error:', error);
                                                            alert('An error occurred. Please try again.');
                                                        });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                // Initialize DataTables
                                $('#userTable').DataTable();
                    
                            });
                        </script>
                        {% else %}
                            {% if request.user.email in club_member_list_email %}
                                <button class="btn btn-outline-info btn-sm">Joined</button>
                            {% else %}
                                <button class="btn btn-outline-info btn-sm" id="join-club-btn">Join Club</button>
                            {% endif %}
                        {% endif %}
                    </span>
                    {% endif %}
                    

                </span>
                <span>{{ club_details.club_description }}</span>
            </p>
            <div class="member_space">
                <div class="table-responsive">
                    <table id="invoiceTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Power</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club_member_info in club_members_details %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ club_member_info.user.username }}</td>
                                <td class="text-center">{{ club_member_info.role }}</td>
                                <td class="text-center">{{ club_member_info.power }}</td>
                                <td class="text-center">
                                    {% if login_user_pk %}
                                    <a href="#" class="btn btn-info btn-sm sendbtn" id="sendBtn" data-bs-toggle="modal" data-bs-target="#sendModal" data-receiver-id="{{ club_member_info.user.id }}">
                                        <i data-feather="send">Send</i>
                                    </a>     
                                    {% else %}
                                    <a href="#" class="btn btn-info btn-sm sendbtn" style="opacity: .6;pointer-events: none;" id="" data-bs-toggle="modal" data-bs-target="" data-receiver-id="">
                                        <i data-feather="send">Send</i>
                                    </a>  
                                    {% endif %}
                                    <!-- Edit Button Logic: Users can only edit those with lesser power -->
                                    {% if request.user.email in club_edit_access or club_owner_pk == request.user.pk %}
                                        {% if club_member_info.power < club_members_detail_of_active_user.power or club_owner_pk == request.user.pk %}
                                        <a class="btn btn-info btn-sm editbtn" id="editBtn" data-bs-toggle="modal" data-bs-target="#editModal" data-receiver-id="{{ club_member_info.pk }}">
                                            <i data-feather="edit">Edit</i>
                                        </a>
                                        <a class="btn btn-info btn-sm removebtn" data-receiver-id="{{ club_member_info.pk }}">
                                            <i data-feather="trash"></i>
                                        </a>                                        
                                        {% endif %}
                                    {% endif %}
                                    
                                </td>                                                           
                            </tr>
                            {% endfor %}
                        </tbody>
                        <script>
                            $(document).on('click', '#sendBtn', function (e) {
                                e.preventDefault();
                                var receiverId = $(this).data('receiver-id');
                                console.log(receiverId); // This will log the receiverId of the clicked button
                                $('#receiverInput').val(receiverId); // Assuming you have an input with id="receiverInput"
                            });
                        </script>
                        <script>
                            $('.removebtn').click(function (e) {
                                e.preventDefault();
                                var memberId = $(this).data('receiver-id'); // Get member ID from data attribute
                        
                                // Confirm deletion
                                if (!confirm("Are you sure you want to delete this member?")) {
                                    return;
                                }
                        
                                // Make AJAX request
                                $.ajax({
                                    url: "{% url 'club:delete_member' %}",
                                    type: 'POST',
                                    data: JSON.stringify({ 'id': memberId }),
                                    contentType: 'application/json',
                                    headers: {
                                        'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                                    },
                                    success: function (response) {
                                        if (response.success) {
                                            // Optionally, remove the row or refresh the page
                                            location.reload();
                                        } else {
                                            alert(response.message || 'An error occurred while deleting the user.');
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error removing user:', error);
                                        alert('Error removing user. Please try again.');
                                    }
                                });
                            });
                        </script>                        
                    </table>
                </div>
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #161c27;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Member</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editForm">
                                    <input type="hidden" id="memberId" name="id">
                                    <div class="mb-3">
                                        <label for="role" class="form-label">Role</label>
                                        <select id="role" name="role" class="form-select" style="background-color: #161c2746;color: white;">
                                            <option value="Head">Head</option>
                                            <option value="Vice President">Vice President</option>
                                            <option value="Secretary">Secretary</option>
                                            <option value="HOD">HOD</option>
                                            <option value="Associate Professor">Associate Professor</option>
                                            <option value="Member">Member</option>
                                        </select>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label for="power" class="form-label">Power</label>
                                        <hgroup style="font-size: 10px;opacity: .6;"><i>"" Higher then 50 power can manage the group members and activity ""</i></hgroup>
                                        <input type="number" id="power" name="power" class="form-control" style="background-color: #161c2746;color: white;">
                                    </div>
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).on('click', '[data-bs-toggle="modal"]', function () {
                            var memberId = $(this).data('receiver-id');
                            var memberRole = $(this).data('role');
                            var memberPower = $(this).data('power');

                            // Populate the modal wit member data
                            $('#editModal #memberId').val(memberId);
                            $('#editModal #role').val(memberRole);
                            $('#editModal #power').val(memberPower);
                        });

                        $('#editForm').on('submit', function (event) {
                            event.preventDefault(); // Prevent the form from submitting normally
                            var formData = $(this).serialize(); // Serialize the form data

                            $.ajax({
                                url: "{% url 'club:update_member' %}",  // Your view URL to handle the update
                                method: 'POST',
                                data: formData,
                                headers: {
                                    'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                                },
                                success: function (response) {
                                    // Close the modal and show a success message
                                    $('#editModal').modal('hide');
                                    alert('Member updated successfully!');

                                    // Optionally, update the UI without refreshing the page
                                    // For example, update the role and power of the member in the list
                                    $('#member_' + response.id + ' .role').text(response.role);
                                    $('#member_' + response.id + ' .power').text(response.power);
                                },
                                error: function (error) {
                                    console.error('Error updating member:', error);
                                    alert('An error occurred while updating the member.');
                                }
                            });
                        });

                </script>
                <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #161c27;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sendModalLabel">Send Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="uploadForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12" style="display: flex; flex-direction: column; justify-content: center;">
                                            <div class="mb-3">
                                                <label for="file-input" class="form-label drop-container">
                                                    <span class="drop-title">Drop files here or click to upload</span>
                                                    <input type="file" name="file" accept="image/*,application/pdf" required id="file-input"
                                                        class="form-control">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="display: flex; flex-direction: column; justify-content: center;">
                                            <style>
                                                .short_note_input input::placeholder{
                                                    color: white;
                                                }
                                            </style>
                                            <div class="mb-3 short_note_input">
                                                <input style="background-color: #161c27;color: white;" type="text" name="short_note" class="form-control" placeholder="Add a short note (optional)">
                                            </div>
                                            <div class="mb-3">
                                                <select name="department" class="form-select" required  style="background-color: #161c27;color: white;">
                                                    <option value="" selected>Select Department</option>
                                                    <option value="Department">Department</option>
                                                    <option value="Academics">Academics</option>
                                                    <option value="User">User</option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="receiver" id="receiverInput" value="" >
                                            <button type="button" id="uploadButton" class="btn btn-primary w-100">Upload File</button>
                                        </div>
                                    </div>
                                </form>

                                <script>
                                    
                                    $('#uploadButton').click(function (e) {
                                        e.preventDefault();
                                        let formData = new FormData($('#uploadForm')[0]);

                                        $.ajax({
                                            url: "{% url 'tracking:tracking' %}",
                                            type: 'POST',
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            headers: {
                                                'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val(),
                                            },
                                            success: function (response) {
                                                if (response.message) {
                                                    alert(response.message);
                                                } else {
                                                    alert('Upload successful, but no message returned from server.');
                                                }
                                                $('#uploadForm')[0].reset();
                                                fetchTrackingDetails();
                                                $('#sendModal').modal('hide'); 
                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Error uploading file:', error);
                                                alert('Error uploading file. Please try again.');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
               
                
                {% if club_owner_pk == login_user_pk %}
                <div class="member_request_space">
                    <hr>
                    <h3 class="pt-3">Join Requests ({{pending_count}})</h3>
                    <table id="join-requests-table" class="table table-striped ">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Requested At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in join_request %}
                            {% if request.status == "Pending" %}
                            <tr id="request-{{ request.id }}">
                                <td><strong>{{ request.user.username }}</strong></td>
                                <td><strong>{% if request.user.email %}{{ request.user.email }}{% else %}{{ request.user.username }}@gmail.com{% endif %}</strong></td>
                                <td>{{ request.request_date }}</td>
                                <td>
                                    <button data-request-id="{{ request.id }}" data-action="approve"
                                        class="btn btn-success handle-request">Approve</button>
                                    <button data-request-id="{{ request.id }}" data-action="reject"
                                        class="btn btn-danger handle-request">Reject</button>
                                </td>
                            </tr>
                            {% endif %}
                            {% empty %}
                            <tr>
                                <td colspan="4">No pending join requests.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function() {
                            $('#join-requests-table').DataTable({
                                "paging": true,  // Enable pagination
                                "searching": true,  // Enable searching/filtering
                                "ordering": true,  // Enable sorting
                                "info": true,  // Show information about the data
                                "lengthMenu": [10, 25, 50, 75, 100],
                            });
                        });
                    </script>
                </div>
                {% endif %}

                <script>
                    $(document).ready(function () {
                        $('.handle-request').on('click', function () {
                            const requestId = $(this).data('request-id');
                            const action = $(this).data('action');
                            const $requestItem = $(`#request-${requestId}`);

                            $.ajax({
                                type: 'POST',
                                url: '{% url "club:handle_join_request" %}',
                                data: {
                                    'request_id': requestId,
                                    'action': action,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function (response) {
                                    alert(response.message);
                                    if (response.status) {
                                        $requestItem.find('.status-label').text(response.status);
                                        $requestItem.fadeOut(500, function () {
                                            $(this).remove();
                                        });
                                    }
                                },
                                error: function (xhr) {
                                    alert('An error occurred: ' + xhr.responseJSON.error);
                                }
                            });
                        });
                    });
                    
                </script>
<script>
    $(document).ready(function () {
        $('#invoiceTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "columnDefs": [
                { "orderable": false, "targets": 4 }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>


            </div>
        </div>
    </div>

    <script>
        document.getElementById('join-club-btn').addEventListener('click', function () {
            const csrftoken = '{{ csrf_token }}';
            const clubId = '{{ club_data.pk }}';
            const branchPk = '{{ pk_branch }}';

            fetch(`{% url 'club:join_club_request' %}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    club_id: clubId,
                    branch_pk: branchPk
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Join request sent successfully!");
                    } else {
                        alert("You have already requested to join this club.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred. Please try again later.");
                });
        });
    </script>
    {% endblock pages %}