{% extends 'tenders/base.html' %}

{% block title %}Add Tender{% endblock %}

{% block content %}
    <h2>Add Tender</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Extendable Fields</h3>
        {{ tender_field_formset.management_form }}
        <div class="formset">
            {% for form in tender_field_formset %}
                <div class="form-row">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
