{% extends 'base.html' %}

{% block title %}Reminder Sent{% endblock %}
<style>
    body {
        background-color: #0c1117;
        color: rgb(213, 211, 211);
        font-family: 'Arial', sans-serif;
    }

    h2 {
        color: white;
        text-align: center;
    }

    p {
        color: rgb(213, 211, 211);
        font-size: 1.2em;
        text-align: center;
    }

    .btn {
        background-color: #1abc9c;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .btn:hover {
        background-color: #16a085;
    }
</style>

{% block content %}
<h2>Reminder Sent Successfully</h2>
<p>A reminder has been sent for tender: {{ tender.tender_name }}</p>
<p>Email reminder will be sent to: {{ tender.reminder_email }}</p>
<a href="{% url 'tender_list' %}" class="btn btn-primary">Back to Tenders</a>
{% endblock %}
