{% extends 'tenders/base.html' %}

{% block title %}Tenders List{% endblock %}
<style>
    body {
        background-color: #0c1117;
        color: rgb(213, 211, 211);
        font-family: 'Arial', sans-serif;
    }

    h2 {
        color: white;
        text-align: center;
    }

    p {
        color: rgb(213, 211, 211);
        font-size: 1.2em;
        text-align: center;
    }

    .btn {
        background-color: #1abc9c;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .btn:hover {
        background-color: #16a085;
    }
</style>
{% block content %}
    <h2>Tender List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tender Name</th>
                <th>Tender ID</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tender in tenders %}
                <tr>
                    <td>{{ tender.tender_name }}</td>
                    <td>{{ tender.tender_id }}</td>
                    <td>{{ tender.end_date }}</td>
                    <td>
                        <a href="{% url 'tender_detail' tender.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
